<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Electronic equipayment cell management System  </title>
 <link rel="stylesheet" type="text/css" href="css/homecs.css">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>
    <div class="header">

    <nav class=" navbar navbar-style navbar-expand-sm  ">
        
      <div class="container ">
          
          <div class="navbar-header">
            <a href=""> <img class="logo" src="img/logo.jpg"> Electronic equipayment cell management System </a>
          </div>


          <ul class=" nav navbar-nav navbar-right ">
      
            <li class="nav-item" >
              <a class="nav-link" href="file:///C:/Users/Md%20Samiullah%20Alam/Desktop/Ecm/Home.html/Ehome.html"> <i class="fa fa-home"></i> Home </a>
                
            </li>
            <li class="nav-item" >
              <a  class="nav-link" href="#"> <i class="fa fa-shopping-cart"></i> Add shop</a>
            </li>
            <li  class="nav-item">
              <a  class="nav-link" href="file:///C:/Users/Md%20Samiullah%20Alam/Desktop/Ecm/Home.html/customer.html"> <i class=" fa fa-product-hunt"></i> customer service </a>
            </li>
           


            <div class="dropdown  " > <i  class="btn btn-lavender; dropdown-toggle bg-primary  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
               <svg xmlns="http://www.w3.org/2000/svg"  id="hamburger-nav bg-primary" width="25" height="14" viewBox="0 0 32 18" color="primary">
               <g fill="none" fill-rule="evenodd" stroke="#1E2122" stroke-linecap="square" stroke-width="2" transform="translate(1)"> 
                <path d="M0 1L30 1M0 9L30 9M0 17L30 17"></path>
              </g> </svg> </i>
               <div class="dropdown-menu" style="background-color: #efefef;" >
                
                <ul class="pages">
                  <li><a class="dropdown-item" href="/">Home</a></li>
                  <li><a class="dropdown-item" href="/work">Work</a></li>
                  <li><a class="dropdown-item" href="/services">Services</a></li>
                  <li><a class="dropdown-item" href="/about">About</a></li>
                  <li><a class="dropdown-item" href="/careers">Careers</a></li>
                  <li><a class="dropdown-item" href="/blog">Blog</a></li>
                  </ul>
              </div>
            </div>

          </ul>
        
  </div>
          
    </nav>



    <br> <br>

    


    <div class="hidden-xs no-pad footer-nav-mobile pdtop15">
        <div class="cleaarfix"></div>
        
        </div>
        
        <div class="" style="width:60%; margin:auto;">
            <br>
      
            <center class="font21"><b>Need Help</b></center>
            
            <br>

    <div class="text-center">
      <div id="" class="pd10r">
        <div class="category-slider-mobile">
          <div class="content-mobile">
            <!--
            <a href="http://mafiashades.com/about-mrshareef/">
              <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/about-us.png"><br><span>About Us</span></div>
            </a>
            -->
       <nav class=" navbar navbar-style navbar-expand-lg  ">
  
         <div class="container-fluid ">
          <ul class=" nav navbar-nav navbar-right ">

             <li>
              <a href="http://mafiashades.com/contact-mrshareef/">
                <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/contact-us.png"><br><span>Conatct Us</span></div>
              </a>
             </li>
           
      

           
             <li>
              <a href="return-policy-mrshareef/">
                <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/return-policy.png"><br><span>Return Policy</span></div>
              </a>
             </li>
          
           

            
              <li>
                <a href="http://mafiashades.com/my-orders/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/track-order.png"><br><span>Track Order</span></div>
                </a>
              </li>
            
            

            
              <li>
                <a href="http://mafiashades.com/my-orders/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/cancel-order.png"><br><span>Cancel Order<span></span></span></div>
                </a>
              </li>
          
      

            
              <li>
                <a href="http://mafiashades.com/my-orders/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/return-order.png"><br><span>Return Order<span></span></span></div>
                </a>
              </li>
          
      

           
             
              <a href="http://mafiashades.com/privacy-policy-mrshareef/">
                <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/privacy-policy.png"><br><span>Privacy Policy<span></span></span></div>
              </a>
             </li>
           
           


             <li>
              <a href="http://mafiashades.com/terms-and-conditions-mrshareef/">
                <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/terms-and-conditions.png"><br><span>Terms <br>&amp; <br>Conditions<span></span></span></div>
              </a>
             </li>
          
          

            
              <li>
                <a href="http://mafiashades.com/complaints-and-solutions-mrshareef/">
                  <div class="footer-slider"><img src="http://mafiashades.com/shared/img/ui-icons/footer-icon/complaints-and-solutions.png"><br><span>Complaints <br>&amp; <br>Solutions<span></span></span></div>
                </a>
              </li>
            
            </ul>
            </div>
       </nav>

          </div>
        </div>
      </div>
    </div>





    
    <br> <br>
    <div class="clearfix"></div>
    
    <div class="paymentCont pay-icon pdtop30">
        <div class="headingWrap text-center font21 pay-icon col-xs-12 no-pad pdtop15">
            <center class="font21"><b>100% Secure Payment</b></center>
        </div>
        <br>
        <div class="col-xs-12 pdtop15 payicon text-center">
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 1.png"></span>
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 2.png"></span>
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 3.png"> </span>
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 4.png"></span>
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 5.png"></span>
            <span class="pdl3"> <img src="http://mafiashades.com/shared/img/Payment Icon 6.png"></span>
        </div>	
    </div>
</div>

<div class="clearfix"></div>
<br>




</div>







</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
